/* Global Player Styles */
.audio-player .sp-controls a.sp-pause {
  display: none;
}
.audio-player.playing .sp-controls a.sp-play {
  display: none;
}
.audio-player.playing .sp-controls a.sp-pause {
  display: inline-block;
}


.simple-example {
  height: 65px;
  padding: 8px;
  border-left: 1px solid #ededed;
  position: relative;
  width: 400px;
  z-index: 100;
  margin-right: 50px;
}
.simple-example .sp-artwork,
.simple-example .sp-controls,
.simple-example .sp-title {
  position: relative;
  z-index: 30;
}
.simple-example .sp-scrubber {
  display: none;
  /* temp fix */
}
.simple-example .sp-scrubber .buffer {
  background-color: #f4f4f4;
  height: 100%;
  position: absolute;
  z-index: 11;
}
.simple-example .sp-scrubber .played {
  background-color: #e4e4e4;
  height: 100%;
  position: absolute;
  z-index: 12;
}
.simple-example .sp-artwork {
  margin: 0 15px 0 0;
  float: left;
  width: 49px;
}
.simple-example .sp-artwork img {
  width: 49px;
}
.simple-example .sp-controls {
  float: left;
  margin-right: 15px;
  font-size: 18px;
  line-height: 49px;
  position: absolute;
  width: 49px;
  text-align: center;
}
.simple-example .sp-controls a {
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 3px 4px 6px;
  border-radius: 20px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
.simple-example .sp-title {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 319px;
}
.simple-example .sp-title a {
  font-size: 16px;
  line-height: 45px;
  color: #5E5950;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
